<nav class="container-fluid bg-white py-1 shadow-sm">
    <div class="row align-items-center">

        <div class="col-lg-4 col-12">
            <a class="brand" routerLink="/home">Albums.kz</a>
        </div>

        <div class="col-lg-4 col-12 d-flex justify-content-start">
            <a routerLink="/home" class="link mx-2"> 
                <i class="bi bi-house"></i> Home
            </a>
            <a routerLink="/about" class="link mx-2">
                <i class="bi bi-info-circle"></i> About
            </a>
            <a routerLink="/albums" class="link mx-2">
                <i class="bi bi-music-note-list"></i> Albums
            </a>
        </div>

    </div>
</nav>
